{% extends 'base.html.twig' %}

{% block title %}Member{% endblock %}

{% block body %}
    <h1>member</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ member.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ member.name }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('app_lieu_show', {'id' : member.lieux.id}) }}"> mon lieu </a>


    <a href="{{ path('app_member_index') }}">back to list</a>

    <a href="{{ path('app_lieu_show', {'id': member.lieux.id}) }}">back to Lieu</a>

    <h4>Categorie index</h4>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Publiée</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in member.categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.description }}</td>
                <td>{{ categorie.published ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_categorie_show', {'id': categorie.id}) }}">show</a>
                    <a href="{{ path('app_categorie_edit', {'id': categorie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        <a href="{{ path('app_categorie_new', {'id': member.id})  }}">Add new categorie</a>
        </tbody>
    </table>


    <h4>Lieu</h4>
        <table class="table">
            <tr>
                <th>Id</th>
                <td>{{ member.lieux.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ member.lieux.name }}</td>
            </tr>
            <tr>
                <th>Actions</th>
                <td>
                    <a href="{{ path('app_lieu_show', {'id': member.lieux.id}) }}">show</a>
                    <a href="{{ path('app_lieu_edit', {'id': member.lieux.id}) }}">edit</a>
                </td>
            </tr>
        </table>

{% endblock %}
