<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
                <!-- Bootstrap icons-->
                <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
                <!-- Core theme CSS (includes Bootstrap)-->
                <link href="{{ asset('css/styles.css') }}" rel="stylesheet">
    {# Neutral custom styles & Google Font #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="{{ asset('css/custom.css') }}" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
            <!-- Bootstrap core JS-->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
            <!-- Core theme JS-->
            <script src="{{ asset('js/scripts.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        {% block menu %}
        <!-- Navigation -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container px-4 px-lg-5">
          <a class="navbar-brand" href="{{ path('app_main_page') }}">FabLab Inventory</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                            {{ render_bootstrap_menu('main') }}
                            {% if app.user %}
                                {{ render_bootstrap_menu('account') }}
                            {% else %}
                                {{ render_bootstrap_menu('anonymousaccount') }}
                            {% endif %} {# app.user #}
                        </ul>
                    </div>
                </div>
            </nav>
        {% endblock %}{# menu #}
        {% block body %}

   <div class="container body-container">
     <div class="row">
       <div id="main" class="col-md-12">

         {% block alerts %}
            {# Borrowed from the demo app :
               https://github.com/symfony/demo/blob/v2.4.0/templates/base.html.twig #}
            {#
               The check is needed to prevent starting the session when looking for "flash messages":
               https://symfony.com/doc/current/session.html#avoid-starting-sessions-for-anonymous-users
            #}
            {% if app.request.hasPreviousSession %}
               <div class="messages">
                  {% for type, messages in app.flashes %}
                     {% for message in messages %}
                        {# Bootstrap alert, see https://getbootstrap.com/docs/3.4/components/#alerts #}
                        {%if type == 'error'%} {% set type = 'danger' %} {%endif%}
                        {%if type == 'message'%} {% set type = 'info' %} {%endif%}
                        <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                            <div>{{ message|trans }}</div>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{{ 'action.close'|trans }}"></button>
                        </div>
                     {% endfor %}
                  {% endfor %}
               </div> {# .messages #}
            {% endif %}
         {% endblock %} {# alerts #}

         <main>

            {# Ici la partie utile que les gabarits des pages vont surcharger #}
            {% block main %}
                              <div class="row">
                                <div class="col-md-12">
                                  <p>
                                    <i>MAIN</i>
                                  </p>
                                </div>
                              </div>
            {% endblock %} {# main #}

         </main>
       </div> <!-- main -->

     </div> <!-- row -->

   </div> <!-- /.body-container -->
        
        {% endblock %}
    </body>
</html>
